<div
  style="
    height: 100vh;
    width: 100vw;
    background: pink;
    transition: background 2s;
    position: relative;
  "
  [ngStyle]="{
    background: imgStatus < 3 ? 'pink' : 'black',
    overflow: polpoIsAlive ? 'hidden' : 'scroll'
  }"
>
  <div
    style="
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      style="width: 100%; max-width: 600px; position: relative"
      [ngStyle]="{ display: includesStatus([0, 1, 2, 3]) ? 'block' : 'none' }"
    >
      <ng-container>
        <img
          [ngStyle]="{ display: includesStatus([0, 1]) ? 'block' : 'none' }"
          src="/assets/img/casa.png"
          alt=""
          style="width: 100%"
          (click)="tocToc()"
        />
        <img
          #casaAperta
          [ngStyle]="{ display: includesStatus([2, 3]) ? 'block' : 'none' }"
          src="/assets/img/casa_aperta.png"
          alt=""
          style="width: 100%; transition: transform 2s, opacity 2s"
          (click)="onCasaApertaClick()"
        />
        <img
          [ngStyle]="{ display: imgStatus === 1 ? 'block' : 'none' }"
          src="/assets/img/toc_toc.png"
          style="
            position: absolute;
            bottom: 15%;
            right: -24%;
            width: 600px;
            pointer-events: none;
          "
          alt=""
        />
      </ng-container>
    </div>

    <div
      style="width: 100%; height: 100%; max-width: 1000px; position: relative"
      [ngStyle]="{ display: includesStatus([4]) ? 'block' : 'none' }"
    >
      <div class="pyro" *ngIf="bottiPartiti">
        <div class="before"></div>
        <div class="after"></div>
      </div>
      <div style="position: relative" style="width: 100%">
        <div
          style="
            width: 100%;
            max-width: 1000px;
            position: absolute;
            bottom: max(calc(20vh - 10vw), 0px);
            padding-bottom: 133%;
          "
        >
          <ng-container *ngIf="polpoIsAlive">
            <img
              [ngStyle]="{ opacity: polpoIsOnLeft ? '1' : '0.01' }"
              src="assets/img/polpo_1.png"
              alt=""
              style="
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 10;
                pointer-events: none;
              "
            />
            <img
              [ngStyle]="{ opacity: !polpoIsOnLeft ? '1' : '0.01' }"
              src="assets/img/polpo_2.png"
              alt=""
              style="
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 10;
                pointer-events: none;
              "
            />
            <img
              src="assets/img/coltello.png"
              alt=""
              style="
                position: absolute;
                bottom: 10%;
                width: 20%;
                left: 50%;
                transform: translateX(-50%);
              "
              (click)="killPolpo()"
            />
          </ng-container>
          <ng-container>
            <img
              [ngStyle]="{ opacity: !polpoIsAlive && aaaaIsVisible ? '1' : '0.01' }"
              src="assets/img/aaaa.png"
              alt=""
              style="
                position: absolute;
                left: 5%;
                width: min(250px, 60%);
                bottom: 35%;
                z-index: 10;
                pointer-events: none;
              "
            />
            <img
              [ngStyle]="{ opacity: !polpoIsAlive ? '1' : '0.01' }"
              src="assets/img/polpo_morto.png"
              style="
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                pointer-events: none;
              "
              alt=""
            />
          </ng-container>
        </div>
        <ng-container *ngIf="polpoIsAlive">
          <img
            (click)="openNapoliLink()"
            src="assets/img/napoli.png"
            alt=""
            style="
              position: absolute;
              top: max(calc(20vh - 10vw), 0px);
              width: min(800px, 100%);
              left: 50%;
              transform: translateX(-50%);
            "
          />
          <img
            src="assets/img/tanti_auguri.png"
            alt=""
            style="
              position: absolute;
              top: max(calc(20vh - 10vw), 0px);
              width: max(150px, 40%);
              left: 20px;
              pointer-events: none;
            "
          />
          <img
            src="assets/img/polpo_paul.png"
            alt=""
            style="
              position: absolute;
              top: max(calc(20vh - 10vw), 0px);
              width: max(150px, 40%);
              right: 20px;
              pointer-events: none;
            "
          />
          <img
            [ngStyle]="{opacity: polpoHasBeenResurrected ? '1' : 0.01}"
            src="assets/img/ideogrammi.png"
            alt=""
            style="
              position: absolute;
              width: 100vw;
              top: 30%;
              z-index: 20;
              pointer-events: none;
            "
          />
        </ng-container>
        <ng-container *ngIf="!polpoIsAlive">
          <img
            src="assets/img/oh_no.png"
            alt=""
            style="
              position: absolute;
              top: max(calc(20vh - 10vw), 0px);
              width: min(80%, 500px);
              left: 50%;
              transform: translateX(-50%);
            "
          />
        </ng-container>
      </div>
    </div>
  </div>
  <div
    *ngIf="!polpoIsAlive"
    style="width: 100vw; height: 3000vh; position: relative"
  >
    <img
      src="assets/img/diavoletto.png"
      alt=""
      style="
        bottom: 100px;
        width: 300px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      "
      (click)="resurrectPolpo()"
    />
  </div>
  <img
    [ngStyle]="{ display: includesStatus([4]) ? 'block' : 'none' }"
    src="assets/img/coriandoli.gif"
    alt=""
    style="
      position: absolute;
      inset: 0;
      pointer-events: none;
      height: 100%;
      width: 100%;
    "
  />
</div>
